.menu ul li {
    padding: 20px;
    list-style-type: none;
    display:inline-block;
} 
.menu ul li a:hover {
    color: red;
}
.menu ul li a {
    color: white;
}  
    

.menu {
    background-color: blue;
}
.container img {
    width: 100%;
}
.container{
    object-fit: fill;
}
.article h2 {
    background-color: grey;
    color: black;
    padding: 12px;

}

.article p {
    text-align: justify;
    object-fit: contain;
}

.footer {    
    background-color: rgb(39, 38, 39) ;
    padding: 2px;
}
.text{
    text-align: left;
}

.Copyright {
    color: white;
}

.Copyright a{
    color:black;
    opacity: 100%;
}





